# будут игнорироваться все файлы Thumbs.db
Thumbs.db

#будут игнорироваться все файлы с расширением *.DS_Store
*.DS_Store

#будут игнорироваться файлы, находящиеся в подкаталоге tmp
tmp/

#будут игнорироваться файлы, файлы, заканчивающиеся суффиксами _old, _backup
*.*_old
*.*_backup